body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first{
    background-color:rgb(41, 63, 80);
    padding: 20%;
    color:white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:white;
    
}
h1{
    margin-top:-280px;
}
h1:hover{
    color:rgb(69, 127, 128);
}
li{
    display: flex;
    list-style-type: none;
    }
.navbar{
    display: flex;
    justify-content: space-between;
    width: 42vw;
    margin-left: 380px;
}
li>a:hover{
    color:rgb(69, 127, 128);
}
.text{
    color:rgb(69, 127, 128);
    text-align: center;
   
}
h4{
    color:white;
    text-align: center;
}
.button{
    text-align:center;
}
.headers{
    display:flex;
    justify-content: space-evenly;
    margin-left:-170px;
    color:rgb(177, 178, 185);
}
.imagesection{
    display: flex;
    justify-content: space-evenly;
    margin-left:100px;
}
.text2{
    display:flex;
    justify-content: space-evenly;
    margin-left: -30px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
}
.blue{
    display: flex;
    justify-content: space-between;
    background-color:rgb(41, 63, 80);
    padding:40px;
}
.boxcontainer{
    width: 44vw;
    margin-left: 50rem;
    font-size: 12px; 
    display: flex;
    justify-content: space-between;
}